body {
    font-family: Arial, Helvetica, sans-serif;
}

/* main is the parent of the 5 elements we want to center */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
    /* margin: 10px; */
}